@font-face {
    font-family: toyota-font;
    src: url('assets/toyota-font.ttf') format('TrueType');
}

html {
    height: min-content;
    width : 100vw;
}

body {
    position: relative;
    height : min-content; 
    margin : 0;
    padding : 0;
    overflow-x : hidden;    
}

.f-exo {
    font-family: exo;
}

.f-sand {
    font-family: Quicksand;
}

.f-rale {
    font-family: Raleway;
}

.icon {
    font-family: toyota-font;
}

.page-container {
    height: min-content;
    width: 100vw;
    background : white;
    overflow: hidden;
    z-index: 1;
    scroll-snap-type: mandatory;
    scroll-snap-destination: 100% 0%;

}

.headbar {
    position : absolute;
    top : 0;
    height: 100%;
    width : 100vw;
    pointer-events: none;
    z-index : 999;
}

.head {
    display : flex;
    align-items: center;
    height: 60px;
    width: 100vw;
    background : #22313F;
}

.toyota {
    color : white;
    font-size : 50px;
    line-height: 60px;
    vertical-align: center;
    margin-left : 25px;
}

.lets-go-beyond {
    margin-left : 10px;
    border-left : 2px solid white;
    color : white;
}

.lets-go-beyond p {
    font-family: Arial;
    font-weight : 600;
    letter-spacing: 1px;
    font-style: italic;
    padding-left : 10px;
    font-size : 10px;
    margin : 0;
}

.nav-container {
    display : flex;
    justify-content: space-around;
    align-items: center;
    height : 60px;
    width : 100vw;
    background : white;
    position: sticky;
    top : 0px;
    pointer-events: auto;
}

.nav-container a {
    text-decoration: none;
}


.nav-container span {
    font-size : 25px;
    display : flex;
    flex-direction: column;
    height: 40px;
    width : min-content;
    justify-content: space-between;
    text-align: center;
    color : #4B6A88;
    cursor : pointer;
}

.nav-container span:after {
    font-size : 8.5px;
    letter-spacing: 0.2em;
}

.i-home:after {
    font-family: Moon;
    content : 'Home'
}

.i-gallery:after {
    font-family: Moon;
    content : 'Gallery'
}

.i-test:after {
    font-family: Moon;
    content : 'Brochure'
}

.i-contact:after {
    font-family: Moon;
    content : 'Contact'
}

.page {
}

.p1 {
    display : grid;
    height: 100vh;
    width : 100vw;
    grid-template-columns   : 40px 1fr 40px;
    grid-template-rows      : 40% 100px 1fr 10%;
    grid-template-areas     :   ' . . . '
                                ' . T . '
                                ' . . . '
                                ' . x . ';
}

.home-carousel {
    width: min-content;
    height : 100vh;
}

.current-slide {
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size : auto 100vh;
    transition : all 800ms;
}

.c00 {
    background-image : url("assets/img/view-00.jpg");
}
.c01 {
    background-image : url("assets/img/view-01.jpg");
}
.c02 {
    background-image : url("assets/img/view-02.jpg");
}
.c03 {
    background-image : url("assets/img/view-03.jpg");
}
.c04 {
    background-image : url("assets/img/view-04.jpg");
}

.carousel-pointer {
    display : flex;
    justify-content: space-around;
    align-items: flex-end;
    grid-area : x;
    height : min-content;
    z-index : 998;
}

.carousel-pointer span {
    border-radius : 50%;
    width : 10px;
    height : 10px;
    background : white;
}

.carousel-title {
    grid-area : T;
}

.p2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    flex-direction: row;
    height: 50vh;
    width : 100vw;
}

.hot-offer {
    display : flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color : #6C7A89;
}

.hot-offer > a {
    text-decoration: none;
    color : #6C7A89;
}

.ho-desc {
    font-size: 13px;
    width: 250px;
    text-align: center;
}

.ho-button {
    width: 200px;
    height : 50px;
    text-align : center;
    line-height: 50px;
    margin : 10px;
    border : solid #34515E 2px;
    letter-spacing: 2px;
}

.p3 {
    height : min-content;
    width: 100vw;
    display: flex;
    justify-content: center;
}

.card-container {
    width: 80%;
    height : 80vh;
    background : #1E90FF;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color : white;
}

.andrian-image {
    width: 200px;
    height: 200px;
    background-image : url("assets/img/ian-otot.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size : 200px auto;
    transition : all 800ms;
    border-radius : 50%;
    border : solid white 3px;
}
.position{
    font-size : 12px;
    text-align: center;
}
.nama-adrian {
    font-weight: 600;
    letter-spacing: 2px;
    text-align: center;
}

.add-contact a {
    text-decoration: none;
    color: white;
}

.add-contact {
    display : flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    width: 70%;
    height: 40px;
    border-radius: 25px;
    border : solid white 2px;
    text-align: center;
    color: white;
}

.phone-num {
    letter-spacing: 1px;
    font-size : 14px;
}

.whatsapp {
    padding-right: 15px;
    font-size : 30px;
    line-height: 40px;
}

.p4 {
    display: flex;
    justify-content: center;
    width : 100vw;
    height: min-content;
}

.container-p4 {
    display : flex;
    width : 90%;
    height : min-content;
    flex-direction: column;
    align-items: center;
}

.featured-product {
    padding : 20px;
}

.product {
    width: 85vw;
    height: min-content;
    margin-bottom : 15px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.product:active {
    box-shadow: 0 4px 8px 0 #D9E149, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.frame {
    display : grid;
    grid-template-columns: 10px 60px 1fr 40px 15px 30px 10px;
    grid-auto-rows: 10px 20px 1fr;
    grid-template-areas:    '. . . . . . .'
                            '. p . w . b .'
                            '. . . . . . .';
    background : #FAFAFA;
    height : 200px;
    width : 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size : 200px auto;
}

.product > * {
    pointer-events: none;
}

.prize {
    grid-area: p;
    background : #ffcb40;
    font-family: Quicksand;
    font-size : 0.7em;
    height : 20px;
    line-height: 20px;
    font-weight: 600;
    color : #34515E;
}

.buy {
    grid-area : b;
}

.wish {
    grid-area : w;
}

.i-frame {
    color : #6C7A89;
    font-size : 25px;
}

.frame-desc {
    letter-spacing: 3px;
    font-weight : 500;
    margin-bottom : 0;
}

.frame-class {
    padding : 0;
    letter-spacing: 3px;
    font-size : 10px;
}

.yaris-frame {
    background-image : url("assets/img/product-yaris-300.jpg");
}

.rush-frame {
    background-image : url("assets/img/product-rush-300.jpg");
}

.avanza-frame {
    background-image : url("assets/img/product-avanza-300.jpg");
}

.product-popup {
    position : absolute;
    top : 60px;
    width: 100vw;
    height : calc(100vh - 60px);
    background : white;
    overflow: auto;
    z-index : 999;
    display : flex;
    justify-content: center;
    display : none;
}

.popup-container {
    width: 100%;
    height : min-content;
}

.return-nav {
    width: 100%;
    position: sticky;
    top : 0;
    height : 40px;
    background : #00EEEE;
}

.popup-image-container {
    height : 325px;
    width : 100%;
    display : flex;
    flex-direction : column;
    justify-content: center;
    align-items: center;
}

.popup-image {
    width : 80%;
    height : 200px;
    background-repeat: no-repeat;
    background-position: center;
    background-size : 100% auto;
}

.car-name {
    width: 80%;
    height : min-content;
    margin-top : 20px;
    font-size : 1.2em;
    font-weight: 600;
    letter-spacing: 1px;
}

.car-rating {
    width: 80%;
    height : 25px;
    margin-top : 10px;
    display : flex;
}

.star-rating {
    width: 45%;
    height : 100%;
    font-size : 25px;
    color : #6C7A89;
}

.total-review {
    font-family: quicksand;
    font-weight: 400;
    letter-spacing: 1px;
    font-size : 0.8em;
    line-height: 25px;
    padding-left : 10px;
    border-left : solid 1px #6C7A89;
}

.popup-car-article {
    height : min-content;
    width : 100%;
    display : flex;
    flex-direction : column;
    justify-content: center;
    align-items: center;
}

.car-article {
    width: 80%;
    text-overflow: wrap;
    text-align: justify;
    font-size : 0.75em;
    line-height : 1.5em;
    color : black;
}

.popup-car-feature {
    height : min-content;
    width : 100%;
    display : flex;
    flex-direction : column;
    justify-content: center;
    align-items: center;
    padding-bottom : 20px;
}


.car-feature {
    width: 80%;
    height : min-content;
    display : flex;
    flex-direction: column;
    padding-top : 15px;
}

.feature-detail {
    width: 100%;
    height : min-content;
    display : grid;
    grid-template-columns: 60px 1fr;
    grid-template-rows:  15px 20px;
    grid-template-areas :   'i  t'
                            'i  d';
}

.i-fdetail {
    font-family: toyota-font;
    grid-area: i;
    font-size : 38px;
}

.t-fdetail {
    grid-area: t;
    font-size : 12px;
    font-weight: 800;
}

.d-fdetail {
    grid-area: d;
    font-size : 12px;
    padding-top : 2.5px;
    align-self: flex-end;
}

.popup-price-credit {
    height : min-content;
    width : 100%;
    display : flex;
    flex-direction : column;
    justify-content: center;
    align-items: center;
}

.price-detail {
    width: 80%;
    height : min-content;
    display : flex;
    flex-direction: column;
    padding-top : 15px;
    font-weight: 600;
    font-size : 1.5em;
    border-top : solid 1px #6C7A89;

}

.closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    color: #818181;
}

.closebtn a{
    text-decoration: none;
    color: white;
}

.product-popup h4 {
    text-align: center;
}
.product-popup table {
    width: 80%;
    border-collapse: collapse;
    text-align: center;
    margin: auto;
}

.angsuran table td {
    border: 1px solid black;
}

.spesifications {
    text-align: center;
    margin: auto;    
}

.spesifications span {
    margin: 5px;
}

.spesifications span.active {
    border-bottom: 2px solid DodgerBlue;
}

.spesifications table {
    margin-top: 1em;
    border-bottom: 1px solid DodgerBlue;
}

.spesifications th, .angsuran th {
    border-bottom: 1px solid DodgerBlue;
    background-color: DodgerBlue;
    color: white;
    padding: 2px;
}
.spesifications td {
    border-bottom: 1px solid DodgerBlue;
}


@keyframes simple {
    0%   {
        font-size: 1em;
        
    }
    50%  {
        font-size: 2em;
    }
    100% {
        font-size: 1em;
    }
}
