@font-face {
    font-family: tianicon;
    src: url('assets/tianicon.ttf') format('TrueType');
}

body,html {
    height: 100vh;
    width : 100vw;
    margin : 0;
    padding : 0;
    overflow-x : hidden;
    overflow-y : auto;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
}

p {
    padding : 0;
    margin : 0;
}

.font-icon {
    font-family: tianicon;
}

.head {
    display : flex;
    align-items: center;
    height: 60px;
    width: 100vw;
    background : #d9e149;
}

.headbar {
    display : flex;
    position: relative;
    width: 100%;
    height: 70px;
    background: #d9e149;
    z-index: 1;
}

.logo-container {
    display: flex;
    align-items: center;
    padding-left : 25px;
    width: 80px;
    color : white;
}

.logo-toyota {
    font-size: 3em;
    color : white;
    padding-right: 10px;
}

.logo-text {
    height: 40px;
    border-left : solid 1px white;
    font-family: Arial;
    font-weight: 800;
    letter-spacing: 1px;
    line-height: 1.5;
    font-style: italic;
    font-size : 0.6em;
    padding-left : 10px;
}

.head-nav {
    display : flex;
    align-items: center;
    justify-content: space-around;
    position: sticky;
    top : -1px;
    width: 100%;
    height: 60px;
    background: white;
    z-index: 999;
}

.head-nav span {
    font-family: tianicon;
    font-size : 30px;
    color : #B6BD3B;
    
}

.page-container {
    display : flex;
    position: relative;
    top: -130px;
    width   : 100%;
    height  : min-content;
    flex-direction: column;
}

.page {
    display : grid;
}

/* Halaman 01 ( Home ) */
.p1 {
    height  : 100vh;
    width   : 100vw;
    background-image : url("assets/img/new-yaris-17.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size : 100vw auto;
    grid-template-columns   : 12.5% 200px 1fr 50px ;
    grid-template-rows      : 40% 100px 10px 100px 1fr ;
    grid-template-areas     :   ' . . . . '
                                ' . x . . '
                                ' . . . . '
                                ' . z . . '
                                ' . . . . ';
}

.p1-container {
    grid-area: x;
    font-family : Exo;
    font-size : 30px;
    color : white;
    font-weight: 800;
    letter-spacing: 1px;
}

.cart-border {
    grid-area: z;
    display: flex;
    justify-content: center;
    align-items: center;
    width : 50px;
    height : 50px;
    border: 2px solid white;
    border-radius: 50%;
}

.cart-icon {
    font-size : 30px;
    color : white;
}

.harga {
    font-family: Quicksand;
    font-weight: 400;
}
/* Halaman 02 */

.p2 {
    background : red;
    height: 60vh;
    width : 100vw;
}

.interior-image {
    width: 100%;
    height: 100%;
    background: pink; 
    background-image : url("assets/img/Citrus-Mica-Metallic.png.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size : 100vw auto;
}

.choose-color-text {
    display: flex;
    font-family: Raleway;
    padding : 10px;
    font-weight: 800;
}

.car-carousel {
    width: 100%;
    height: 80%;
    background: white; 
    background-image : url("assets/img/Citrus-Mica-Metallic.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size : 100vw auto;
}

.color-container {
    height: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 25px; 
}

.color-container span {
    border-radius : 50%; 
    margin : 5px;
    height: 20px;
    width: 20px;
}


.c1 {
    background: #a2a61a;
}
.c2 {
    background: #181818;
}
.c3 {
    background: #4a4a4a;
}
.c4 {
    background: #b93502;
}
.c5 {
    background: #7d190f;
}
.c6 {
    background: #797979;
}
.c7 {
    background: #bbbbbb;
}


.color-active{
    box-shadow: 0px 0px 10px green;
}

.p3 {
    background: white;
    height  : 60vh;
    width   : 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
